.header{
    background-color: aqua;
    height: 150px
}

.section{
    background-color:fuchsia;
    height: 150px;
    margin-top:15px;

}

.destaque{

    background-color: orange;
    height: 150px;
    margin-top:15px;

}

.section-2{
    background-color:yellow;
    height: 150px;
    margin-top:15px;

}

.footer{

    background-color: aqua;
    height: 150px;
    margin-top:15px;
   
   

}
